:root {
  --color-primary: #181e4b;
  --color-secondary: #df6951;
  --color-background: #eeeeee;
  --color-accent: #f1a501;
  --body-color: #5e6282;
}

/* typography */

html {
  font-size: 62.6%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--body-color);
  font-size: 1.8rem;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 5.8rem;
  font-weight: 800;
  color: white;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.35);
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
  color: var(--body-color);
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
  line-height: 150%;
}

/* navigation */

.nav {
  background-color: var(--color-background);
}

/* hero */

/* animation */
.container1 {
  height: 2rem;
  position: relative;
  /* display: inline-block; */
  /* font-family: Arial; */
}

.block-content1 {
  position: absolute;
  /* font-size: 30px; */
  /* height: auto; */
  width: 320px;
  opacity: 0;
  /* padding: 5px; */
}

.block-overlay1 {
  position: absolute;
  width: 0%;
  opacity: 1;
  background-color: #df6951;
  /* box-shadow: 4px 4px 10px grey; */
}

.container2 {
  height: 7rem;
  position: relative;
  /* display: inline-block; */
  /* font-family: Arial; */
}

.block-content2 {
  position: absolute;
  /* font-size: 30px; */
  height: 70px;
  width: 330px;
  opacity: 0;
  /* padding: 5px; */
}

.block-overlay2 {
  position: absolute;
  width: 0%;
  opacity: 1;
  background-color: #181e4b;
  /* box-shadow: 4px 4px 10px grey; */
}
/* animation ends */

.title {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-size: 1.5rem;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.35);
}

.space {
  height: 35rem;
}

.grid_container {
  display: grid;
  grid-template-rows: auto auto;
}

.grid__hero__bottom {
  padding: 0rem 2rem;
  position: absolute;
  top: 47rem;
}

.grid__hero__top {
  width: 100%;
}

.hero {
  padding: 0rem 0 0rem;
}

.img__hero > img {
  position: relative;
  left: -50px;
  top: -50px;
}

/* Buttons  */
.custom-btn {
  width: 190px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-14 {
  background: var(--color-accent);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #f1a501 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.button {
  box-shadow: 1px 5px 10px #88888898;
  background-color: var(--color-accent);
  border: 0;
  border-radius: 15px;
  padding: 1.5rem 4rem;

  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px auto;
}

@media screen and (min-width: 415px) {
  .grid__hero__bottom {
    padding: 0rem 5rem;
  }
}

@media screen and (min-width: 465px) {
  .grid__hero__bottom {
    padding: 0rem 7rem;

    top: 53rem;
  }
  .img__hero > img {
    position: relative;
    left: 5%;
    top: -20px;
  }
}

@media screen and (min-width: 750px) {
  .button {
    background-color: var(--color-accent);
    border: 0;
    border-radius: 15px;
    padding: 1.5rem 4rem;

    position: static;
    left: 0;
    /* transform: translate(-50%, -50%); */
    margin: 4rem 0 0 9rem;
  }

  h1 {
    color: var(--color-primary);
  }
  .space {
    height: 61rem;
  }
  .grid__hero__bottom {
    padding: 0rem 0 0 8vw;
    position: absolute;
    right: 50vw;
    top: 10rem;
  }

  .grid_container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
  }

  .img__hero > img {
    position: absolute;
    left: 50vw;
    top: 0vw;
  }
}

/* card */

.card {
  margin-bottom: 10rem;
  /* box-shadow: 5px 8px 25px #88888898; */
  /* background-color: white; */
  padding: 1rem 2rem;
  /* margin-top: 5vw; */
  border-radius: 4rem;
}
.card__title {
  white-space: nowrap;
  display: block;
  margin-bottom: 1rem;
  /* text-align: center; */
}

.grid__2box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding-bottom: 4rem;
  /* grid-auto-flow: column; */
}

.grid__imgBox > img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 415px) {
  .card__title {
    padding-left: 2rem;
  }
  .grid__2box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 415px) {
  .card {
    padding: 0rem 2rem;
  }
}

@media screen and (min-width: 465px) {
  .card {
    padding: 0rem 5rem;

    top: 53rem;
  }
}

@media screen and (min-width: 650px) {
  .card {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .grid__text {
    padding-top: 2rem;
  }

  .grid__imgBox {
    margin-left: 2rem;
  }
  .grid--changed {
    grid-column: 1;
    grid-row: 1;
    /* background-color: #181e4b; */
    margin-right: 2rem;
    margin-left: 0rem;
  }

  .card {
    margin-bottom: 10rem;
    box-shadow: 5px 8px 25px #88888898;
    background-color: white;
    padding: 3rem 2rem;
    margin-top: -15vw;
    border-radius: 4rem;
  }
  .grid__2box {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .grid__imgBox > img {
    margin-top: 2rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .card {
    margin-top: 5vw;
  }
  .card {
    margin-right: 8vw;
    margin-left: 8vw;
  }
}

/* icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 80;
}

span.icon-container {
  color: var(--body-color);
  border: solid;
  border-radius: 15%;
  height: 80px;
  width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* media */
.tools__heading {
  padding: 2rem;
}

.media {
  display: flex;
}

.media__list {
  line-height: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

.media__list-item {
  margin: 0 2rem;
  padding: 0;
  line-height: 2rem;
}

.media__body {
  margin: 0 2rem;
}

.grid3x2 {
  margin: 2rem 0 10rem;

  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tools {
  margin: 3rem;
}

@media screen and (max-width: 650px) {
  .grid3x2 {
    margin: 2rem 0 10rem;

    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
